MySource {
    border: solid gray;
    padding: 0 1;
    margin: 0 1;
    height: 3;
    width: auto;
    content-align: center middle;
}
MySource.selected {
    border: solid dodgerblue;
    background: #00008b; /* Dark blue */
}
MySource.unselected {
    background: #333333; /* Dark gray */
}
Horizontal {
    height: auto;
}
SelectedRichLog { /* Use the new class name */
    border: solid green;
    height: 1fr;
    margin: 1;
}
