
    #grid-container { /* A container to hold our grid */
        width: 60%; /* Shrink to fit content horizontally */
        height: auto; /* Shrink to fit content vertically */
        border: round gold; /* Optional: to visualize the container boundaries */
    }

    #my-grid { /* Apply grid styles to a specific ID */
        layout: grid;
        grid-size: 16 12; /* 3 rows, 3 columns */
        grid-columns: 4 ; /* Each column sizes to its content */
        grid-rows: 1; /* Each row sizes to its content */
        grid-gutter: 0; /* No space between cells */
        border: solid green; /* Optional: to visualize grid boundaries */
    }

    Label {
        color: grey;
        background: black;
        color: white;
        text-align: right;
        content-align: center middle;
        width: 4; /* Give labels a fixed width */
        height: 4; /* Give labels a fixed height */
        &.T {
            color: green;
        }
        &.D {
            color: #404040;
        }
        &.E {
            color: #404040;
        }
        &.C {
            color: #404060;
        }
        &.S {
            color: #604040;
        }
        &.A {
            color: #604040;
        }
        &.P {
            color: #406040;
        }
    }

